@model IEnumerable<Otzzei.TesteTecnico.Dominio.Advogado>

@{
    ViewBag.Title = "Lista de Advogados";
}

<h2>Lista de Advogados</h2>

<p>
    @Html.ActionLink("Novo Advogado", "Criar", "Advogado", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>OAB</th>
            <th>Senioridade</th>
            <th>Especialidade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.Nome</td>
                <td>@a.OAB</td>
                <td>@a.Senioridade</td>
                <td>@a.Especialidade</td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = a.Id }) |
                    @Html.ActionLink("Detalhes", "Detalhes", new { id = a.Id }) |
                    @using (Html.BeginForm("Remover", "Advogado", new { id = a.Id }, FormMethod.Post))
                    {
                        <button type="submit" class="btn btn-link text-danger">Remover</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
